{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div>
  <h1><b>Привет, я автор</b></h1>
</div>
<article>
  <p> Меня зовут Саша. Мне 28 лет. </p>
  <p> Учился в МГУУ ПМ на факультете менеджмент. </p>
  <p> После магистратуры устроился на работу финансистом в компанию, занимающуюся продажей зерна. </p>
  <p> Проработал там полгода и уволился. </p>
  <p> Потом работал в небольшой компании, занимающейся перевозкой газа в вагонах-цистернах. </p>
  <p> Пока работал, решил, что хочу заниматься программированием, начал изучать вопрос, но не хватало времени. </p>
  <p> Потом учредители решили продать компанию и я понял, что самое время серьезно заняться программированием. </p>
</article>
{% endblock %} 